
:root
{
    --main-bg-color: rgb(148, 105, 71);
}

@font-face {
    font-family: NorseBold;
    src: url('./source/Norse-Bold.otf')
}

* {
    border: 2px solid red;
    margin: 0;
    padding: 0;

}

body{
    background-color: var(--main-bg-color, brown);
}

.image-parent .form-parent {
    position: relative;
    
}

.large-image {
    position: absolute;
    width: 45%;
    height: 100%;
    left: 0px;
    background-repeat: no-repeat;
}

.image-text{
    position: absolute;
    background-color: black;
    opacity: .75;
    width: 45%;
    height: 20%;
    bottom: 50vh;
    left: 0;

    font-family: NorseBold, sans-serif;
    text-align: center;
    font-size: min(10vw, 10vh);
    color: white;
    line-height: 20vh;
}


.form{
    position: absolute;
    width: 55%;
    height: 100%;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-text
{
    position: absolute;
    font-weight: 600;
    color: rgb(27, 27, 27);
    top: 10vh;

    text-align: center;
    font-size: 1.5rem;
    line-height: 5vh;
    letter-spacing: .01rem;
}

.name-fields
{
    position: absolute;
    top: 35vh;
    left: 10vh;
}

.contact-info-fields
{
    position: absolute;
    top: 45vh;
    left: 10vh;
}

.password-fields
{
    position: absolute;
    top: 55vh;
    left: 10vh;
}
